In [1]:
print("Hello world")

Hello world

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/home/shailesh/Downloads/Assignment_train.csv")

In [5]:
df.head()

  pclass    age gender survived
0    1st  adult   male      yes
1    1st  adult   male      yes
2    1st  adult   male      yes
3    1st  adult   male      yes
4    1st  adult   male      yes